body {
    background-color: black;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}

h1 {
    color: white;
}

.ball {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: 100px auto;
    cursor: pointer;
    transition: all 1.0s ease;
}

.ball1 {
    background-color: red;
}

.ball2 {
    background-color: blue;
}

.ball3 {
    background-color: yellow;
}